/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: #222;
    color: white;
}
 header h2 {
    font-style: italic;
    color:burlywood;
}
header image{
    padding: bottom 10px;
    height: 20;
    border-radius:15px;
    margin:15px 0;
    background-image: url(spiceimg.jpeg);
    background-position: right;
    background-attachment: fixed;
}
nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

nav a:hover {
    color: orange;
}

/* Hero Section */
.hero {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(to right, #be78b5,#09f0af);
    color: white;
}

.hero h1 {
    font-size: 50px;
    margin-bottom: 10px;
}
.hero p{
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.hero button {
    margin-top: 20px;
    padding: 10px 25px;
    border: none;
    background: orange;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.hero h2{
    font-size: 50px;
    margin-bottom: 10;
    color: #a01708;
    text-align: left;
}
.hero p{
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
    background: linear-gradient(to right,#081985,#9cc220);
}
.hero img{
    background-image: url(spiceimg.jpeg);
    background-position: left;
    border-radius: 40%;

}
/* Ingredients */
.Ingredients {
    padding: 50px;
    text-align: left;
    background: linear-gradient(to right,#be78b5,#09f0af);

    
}
.cards{
    display: flex;
    gap: 20px;
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: center;
    
}
.card {
    background:linear-gradient(to right,#be78b5,#09f0af);
    padding: 25px;
    width: 40%;
    text-align: center;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    
}
.card:hover {
    transform: translateY(-5px);
}


/* About */
.about {
    background: linear-gradient(to right,#be78b5,#09f0af);
    padding: 25px;
    text-align: center;
    border-radius: 70%;
}

/* Footer */
footer {
    background: maroon;
    color: white;
    text-align: center;
    padding: 15px;
}




